{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel='stylesheet' href="{% static 'css/contact.css' %}">

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

{% endblock head %}

{% block title %} HazeBusters {% endblock title %}

{% block body %}
<div class="contact-wrapper">
  <div class="contact-container">
    <form action="" method="POST" class="contact-form">
      {% csrf_token %}
      <div class="form-head">
        <h2>Get in Touch</h2>
        <h4>We are here for you! How can we help?</h4>
      </div>
      <div class="fields">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required >
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="message">Message</label>
        <textarea href="" name="msg" id="msg" cols="30" rows="5" required></textarea>
      </div>
      <input type="submit" name="Submit" id="submit" value="Submit">
    </form>
    <div class="contact-desc">
      <!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/001/263/984/small/contact-us-concept.jpg" alt=""> -->
      <div class="contact-glass">
        <div class="ball b1"></div>
        <div class="ball b2"></div>
        <div class="glassomorphism">Contact Us</div>
      </div>
      <!-- <img src="{% static 'images/contact us.png' %}" alt=""> -->
      <div class="contact-details">
        <div class="detail">
          <iconify-icon icon="carbon:location"></iconify-icon>
          <span class="detail">VIT Bhopal University</span>
        </div>
        
        <div class="detail">
          <iconify-icon icon="mi:call"></iconify-icon>
          <span class="detail">+91 9340896912</span>
        </div>
        <div class="detail">
          <iconify-icon icon="fluent:mail-24-regular"></iconify-icon>
          <span class="detail">Rajul.Mahto2021@vitbhopal.ac.in</span>
        </div>
      </div>
    </div>
    <div class="socials">
      <a href="" class="social">
        <iconify-icon icon="bxl:facebook"></iconify-icon>
      </a>
      <a href="" class="social">
        <iconify-icon icon="mdi:instagram"></iconify-icon>
      </a>
      <a href="" class="social">
        <iconify-icon icon="akar-icons:linkedin-fill"></iconify-icon>
      </a>
      <a href="" class="social">
        <iconify-icon icon="ri:twitter-x-line"></iconify-icon>
      </a>
    </div>
  </div>
</div>
{% endblock body %}