{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel='stylesheet' href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css"/>
{% endblock head %}

{% block title %} HazeBusters {% endblock title %}

{% block body %}
<div class="hero-section">
    <div class="hero-heading">
        <span class="heading">
            Enhance Your 
            <br>
            Videos with
        </span>
        <br>
        <br>
        <span class="description">
            Advanced technology for Crystal Clear Results
        </span>
        <br><br><br><br>
        <div class="btn">
            Get Started
        </div>
    </div>
    <div>
        <img-comparison-slider>
            <figure slot="first" class="before">
                <img slot="first" src="{% static 'images/haze_image.jpg' %}" />
                <figcaption>Before</figcaption>
            </figure>
            <figure slot="second" class="after">
                <img slot="second" src="{% static 'images/dehaze_image.jpg' %}" />
                <figcaption>After</figcaption>
            </figure>
            <svg slot="handle" xmlns="http://www.w3.org/2000/svg" width="100" viewBox="-8 -3 16 6">
                <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1"
                    fill="#fff" vector-effect="non-scaling-stroke"></path>
            </svg>
        </img-comparison-slider>
    </div>
</div>

<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"></script>
<script>
$(document).ready(function(){
    $('#video_file').on('change', function(){
        if ($(this).val() != '') {  // If a file was selected
            $('.submit-button').show();  // Show the submit button
        } else {
            $('.submit-button').hide();  // Hide the submit button
        }
    });
});
</script>
{% endblock body %}