.about-wrapper {
    display: flex;
    gap: 2rem;
    padding: 4rem 2rem;
}

.about {
    background-color: #eeeeee;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #00000096;
    padding: 1rem 1.5rem;
    height: 75vh;
    overflow-y: auto;
}

span {
    font-weight: 900;
}

h2, p {
    font-family: Poppins;
}

h2 {
    font-size: calc(8px + 1.5vw);
    margin-bottom: 0.5rem;
    color: #000000;
}

p {
    font-size: calc(8px + 0.75vw);
    margin-bottom: 2rem;
}