.hero-section {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    position: relative;
    padding: 0px 5rem;
}

.heading {
    font-family: Poppins;
    font-size: calc(8px + 3vw);
    line-height: 5rem;
}

.description {
    font-family: Poppins;
    font-size: calc(8px + 0.85vw);
}

.btn {
    width: max-content;
    color: white;
    background-color: black;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-family: Poppins;
    font-size: calc(8px + 0.5vw);
}

.before,
.after {
    margin: 0;
}

.before figcaption,
.after figcaption {
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 12px;
    color: #2e3452;
    font-family: Poppins;
    opacity: 0.8;
    padding: 12px;
    position: absolute;
    top: 5%;
    transform: translateY(-50%);
    line-height: 100%;
}

.before figcaption {
    left: 12px;
}

.after figcaption {
    right: 12px;
}

.upload {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

.submit-button {
    display: none;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    inset: 0;
}

lord-icon {
    width: 50px;
    height: 40px;
    filter: brightness(0) invert(1);
}